
body{
  background-color: rgb(242, 243, 244);
}
.header1 {
  background-color: #ffd21e;
}
.botonlogin {
  font-weight: 600;
  font-size: 17px;
  line-height: 19px;
  color: white;
  background-color: rgb(61, 61, 61);
  border-color: rgb(61, 61, 61);
  border-style: solid;
  border-radius: 35px;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}
.botonlogin:hover{
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}
.fondoiconpequeño{
  border-radius: 35px;
  background-color: black;
  height: 50px;
  padding: 5px;
}
.iconpequeño{
  width: 50px;
}
.botonlogin{
  width: 75%;
}
.fondocarrito{
  padding: 10px;
}
.svgwhite{
  fill: white;
}
.botoncarrito:hover{
  background-color: rgb(2, 118, 150);
}
.clean_boton{
  border-style: solid;
  border: transparent;
}
.login_register_buttons{
  background-color: #e9eaeb;
  width: 100%;
  padding: 17px;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}
.fontcentury{
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}
.gutter0{
  --bs-gutter-x: 0px;
}
.botoncarrito {
  background-color: rgb(0, 151, 194);
  border-color: rgb(0, 151, 194);
  border-style: solid;
  border-radius: 35px;
}
.header2{
  background-color: white;
  text-align: end;
}
.header_option{
  background-color: white;
  border-color: white;
  border-style: solid;
  padding: 10px 0px;
  font-family: monospace;
  border-left-width: 0px;
}
.header_option2{
  text-align: center;
}
.clean_link{
  text-decoration: none;
  color: black;
}
.clean_link:hover{
  color: black;
}
.redsvg{
  fill: red;
}
.ingresarboton{
  height: 50px;
  background-color: #ed1751;
  font-weight: 800;
  color: white;
}
.ingresarboton:hover{
  background-color: #c20f40;
}
@keyframes telefonomove {
  from {
    transform: rotate(265deg);
  }
  to {
    transform: rotate(200deg);
  }
}
.telefono{
  transform: rotate(265deg);
}
.contacto{
  cursor: pointer;
}
.contacto:hover img{
  animation-duration: 0.7s;
  animation-name: telefonomove;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.vista_principal{
  background: url('./images/Fondos/vista_principal.jpg') ;
  background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;  
}
@keyframes servmove {
  from {
    width: 230px;
  }

  to {
    width: 260px;
  }
}
@keyframes servmove2 {
  from {
    width: 260px;
  }

  to {
    width: 230px;
  }
}
#mafe{
  width: 230px;
  position: absolute;
  left: 24%;
  animation-duration: 2s;
  animation-name: servmove2;
}
#giro{
  width: 230px;
  position: absolute;
  left: 6%;
  animation-duration: 2s;
  animation-name: servmove2;
}
.servicios:hover #mafe{
  animation-duration: 2s;
  animation-name: servmove;
}
.servicios:hover #giro{
  animation-duration: 2s;
  animation-name: servmove;
}
.titulo1{
  position: absolute;
  top: 72%;
  font-weight: 800;
  left: 6.5%;
  z-index: 1;
  width: 450px;
  color: white;
}
.titlemenu{
  width: 470px;
  height: 100px;
  top: 70%;
  left: 6%;
  position: absolute;
  transition: width 2s;
  transition: height 2s;
  transition: left 2s;
  border: solid;
}
.elsa{
  width: 530px;
  position:absolute;
  right: 5%;
  animation-duration: 2s;
  animation-name: elsamove2;
  transition: position 1s;
  transition: right 1s;
}
.servicios:hover .titlemenu{
  width: 520px;
  height: 110px;
  left: 4%;
  transition: width 2s;
  transition: height 2s;
  transition: left 2s;
}
.titlemenu2{
  width: 470px;
  height: 100px;
  top: 70%;
  right: 7%;
  position: absolute;
  transition: height 2s;
  transition: left 2s;
  border: solid ;
}
@keyframes elsamove {
  from {
    width: 530px;
  }

  to {
    width: 562px;
  }
}
@keyframes elsamove2 {
  from {
    width: 562px;
  }

  to {
    width: 530px;
  }
}
.princesas:hover .elsa{
  width: 562px;
  right: 4%;
  animation-duration: 2s;
  animation-name: elsamove;
  transition: right 2s;
}
.princesas:hover .titlemenu2{
  width: 520px;
  height: 110px;
  right: 6%;
  transition: width 2s;
  transition: height 2s;
  transition: right 2s;
}
.titulo2{
  position: absolute;
  top: 72%;
  font-weight: 800;
  right: 8%;
  z-index: 1;
  width: 450px;
  color: white;
}
#Qsomos{
  background-image: url('../src/images/Fondos/Fondo_textura_naranja.png');
  background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;  
}

@keyframes fila1move2 {
  from {
    width: 280px;
    height: 360px;
  }

  to {
    width: 100%;
    height: 330px;
  }
}
.fila1{
  width: 100%;
  height: 330px;
  background-color: white;
  animation-duration: 2s;
  animation-name: fila1move2;
}
.img_servicios{
  width: 100%;
  height: 265px;
  transition:  width 2s;
}


@keyframes fila2move2 {
  from {
    width: 380px;
  height: 400px;
  }

  to {
    width: 100%;
  height: 380px;
  }
}
.fila2{
  width: 100%;
  height: 380px;
  background-color: white;
  animation-duration: 2s;
  animation-name: fila2move2;
}

.img_servicios2{
  width: 100%;
  height: 300px;
}
@keyframes Bannermove1 {
  from {
  width: 69%;
  height: 450px;
  }

  to {
    width: 63%;
    height: 410px;
  }
}

.servicioBanner{
  width: 63%;
  height: 410px;
  animation-duration: 2s;
  animation-name: Bannermove1;
}

.servtitulo{
  width: 20%;
  position: absolute;
  z-index: -1;
}
.servtitulo2{
  padding: 4%;
}
.servdescripcion{
  width: 19%;
  height: 340px;
  position: absolute;
  z-index: -1;
}
.servdescripcion2{
  width: 104%;
}
.servduracion{
  width: 18%;
  height: 80px;
  z-index: -1;
}
.servprecio{
  width: 13.5%;
  height: 70px;
  z-index: -1;
}
.servincluye{
  width: 42%;
  height: 150px;
  z-index: -1;
  position: absolute;
}
.servincluye2{
  font-weight: bold;
  font-size: 25px;
  padding: 7px 0px 0px 0px;
}
.promocionBanner{
  width: 96%;
  height: 460px;
  animation-duration: 2s;
  animation-name: Promomove1;
}
@keyframes Promomove1 {
  from {
    width: 100%;
    height: 480px;
  }

  to {
    width: 96%;
  height: 460px;
  }
}

.promdescripcion{
  width: 19%;
  height: 300px;
  position: absolute;
  z-index: -1;
}
.objetocanasta{
  width: 100%;
  height: 140px;
  background-color: beige;
  margin: 15px 0px;
  border: solid 3px;
  border-radius: 10px ;
}
.logocarrito{
  width: 110px;
}
.col2carrito{
  text-align-last: start;
}
.footercarrito{
  padding: 15px;
  border-top: ridge;
}
#PreguntasF{
  background-image: url('../src/images/Fondos/Fondo_textura_amarillo.png');
  background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;  
}
.CuentaAcciones{
  width: 90%;
  height: 250px;
  background-color: white;
  border: solid;
  border-radius: 30px;
}
.botonAccion{
  margin: 8px;
  width: 80%;
}
.carrito_registro{
  background-color: white;
  padding: 7px;
  height: 70%;
  border: solid 2px;
  border-radius: 13px;
}
.footer_registro{
  padding: 20px 0px;
  text-align: start;
}
.imgAdic{
  width: 100%
}
.nuevoserv{
  width: 100%;
  height: 280px;
  background-color: white;
}
.notfound{
  background-image: url('https://kicksdigitalmarketing.com/wp-content/uploads/2019/09/iStock-1142986365.jpg');
  background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center; 
    height: 80vh; 
}
.eliminarboton{
  height: 50px;
  background-color: #ed4917;
  font-weight: 800;
  color: white;
}
.servAcciones{
  width:68%;
  height: 25%;
  background-color: white;
  border: solid;
  border-radius: 10px;
}
.w-centerr{
  text-align: -webkit-center;
}
.modificarServicio{
  height: 50px;
  background-color: #ed9717;
  font-weight: 800;
  color: white;
}